<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <div> 
    <object type="text/html" data="https://about.me/Awdesh" width="100%" height="100%" style="overflow:auto;border:1px ridge blue">
    </object></div>
</body>
</html>